body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

a:visited,
a:active,
a {
    color: #000;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}